.community-title {
  @include heading-lg;
}

.community-heading {
  font-family: $brand-font;
}
.quick-controls {
  padding: 1rem 2rem 1rem 2rem;
  color: $brand-blue;
  background: linear-gradient(90deg, #f0f0f0 30%, $grey-light 80%);
  border-radius: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  height: fit-content;
  width: fit-content;
  margin-bottom: 2%;
}

.qc-highlight {
  background-color: $brand-blue-light;
  border-radius: 50px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 5rem;
  display: flex;
  justify-content: center;
  margin: 0 0.75rem;
}

.qc-icons {
  font-size: 3.5rem !important;
  color: $brand-green;
  margin: 10%;
}

@media only screen and (max-width: 600px) {
  .quick-controls {
    padding: 0.75rem 1.25rem 0.75rem 1.25rem;
  }

  .qc-highlight {
    width: 100%;
  }

  .qc-icons {
    font-size: 2.5rem !important;
  }
}
