.heading-test {
  @include heading-lg;
}

.button-test {
  @include brand-button-lg;
}

.hero {
  width: 100%;
  //max-width: 65rem;
  margin: 5rem auto;
  position: relative;
  color: $brand-blue;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.hero:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 120%;
  background: linear-gradient(
    90deg,
    #f0f0f0 0%,
    //$brand-blue-light 70%,
    $grey-light 100%
  );
  z-index: -1;
  border-radius: 4rem;
  transform: skew(0, 4deg) translateY(-1.2rem);
  box-shadow: 0 2rem 2rem -1.8rem $brand-blue;
  left: 15px;
}

.hero-content {
  padding: 2rem 0 2rem 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 20px;
}

.hero-img {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  height: auto;
  margin: 0 5% 0 0;
}

.tagline {
  font-family: $brand-font;
}

#landing-info {
  margin-top: 15%;

  .landing-icons {
    font-size: 5rem;
    color: $brand-green;
    margin: 10%;
  }

  .landing-icon-highlight {
    background-color: $brand-blue-light;
    border-radius: 50px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 6rem;
  }

  .landing-desc {
    padding: 10%;
    width: 90%;

    color: $brand-blue;
    font-family: $brand-font;
  }
}
