.map-container {
  position: absolute;
  height: 100%;
  width: 100%;
}

.map {
  position: relative;
  width: 400px;
  height: 400px;
}

.comm-card-style {
  position: relative;
  width: 100%;
  height: 100%;
}
