//===== PUBLIC NAV STYLES =====//
#brand-nav {
  @include heading-md;
}

.nav-links {
  @include heading-sm;
}

//===== DRAWER NAV STYLES =====//

.dNav-icon {
  color: white;
}

#dNav-user {
  background-color: white;
  height: 15vh;
  color: black;
  font-family: $brand-font;
  padding: 5%;
}

#dNav-logo {
  font-family: $brand-font;
  color: $brand-green;
}
