#register-pg {
    background: linear-gradient(90deg, #f0f0f0 30%, $grey-light 80%);
    border-radius: 4rem;
    box-shadow: 0 2rem 2rem -1.8rem $brand-blue;
    margin-top: 2%;
    margin-bottom: 5%;
    min-width: 85%;
}

@media only screen and (min-width: 992px) {
    #register-pg {
        width: 50%;
    }
}
.reg-img {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.reg-title {
    color: $brand-green;
    font-family: $brand-font;
    font-size: 3.5rem;
}
.reg-tagline {
    font-family: $brand-font;
}

.registerForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .reg-form-input {
        width: 65%;
        margin-bottom: 1.5%;
    }

    .errorMsg {
        color: red;
        font-weight: 400;
    }
    .reg-button {
        @include brand-button-lg;
        justify-content: center;
    }
}
