@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300&family=RocknRoll+One&display=swap');

// Brand Colors
$brand-green: #0acf83;
$brand-green-light: #50f7b7;

$brand-blue: #192935;
$brand-blue-light: #d5e1ec;

$brand-purple: #9f20e9;
$brand-purple-light: #c98aee;

$grey-light: #f3f3f3;
$grey-dark: #bababa;

// Fonts
$brand-font: 'RocknRoll One', sans-serif;
$body-font: 'Chivo', sans-serif;
