@import 'mixins';
@import 'variables';
@import 'register';
@import 'landing';
@import 'navigation';
@import 'footer';
@import 'login';
@import 'search';
@import 'createModal';
@import 'userCommunities';
@import 'maps';
@import 'communityDetail';
@import 'posts';

.link:hover {
  color: inherit;
  text-decoration: none;
}

.link {
  color: inherit;
  text-decoration: none;
}

.min-vh {
  min-height: calc(100vh - 62px - 314px);
}

.flex-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.avatar-shadow {
  box-shadow: $brand-green 0px 0px 0px 3px;
}
