@import 'mixins';
@import 'variables';
@import 'register';
@import 'landing';
@import 'navigation';
@import 'footer';
@import 'login';
@import 'search';
@import 'createModal';
@import 'userComm';

.link:hover {
    color: inherit;
    text-decoration: none;
}

.link {
    color: inherit;
    text-decoration: none;
}
