@import 'mixins';
@import 'variables';
@import 'register';
@import 'landing';
@import 'navigation';
@import 'footer';
@import 'login';
@import 'search';
@import 'createModal';
@import 'userCommunities';

.link:hover {
  color: inherit;
  text-decoration: none;
}

.link {
  color: inherit;
  text-decoration: none;
}

.min-vh {
  min-height: calc(100vh - 62px - 314px);
}

.flex-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.map-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
